---
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: pl-sk-secret
  namespace: skozlov
spec:
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: namespace-secret
        spec:
          namespaceSelector:
            exclude:
              - kube-*
            include:
              - custom-policies
          object-templates:
            - complianceType: musthave
              objectDefinition:
                apiVersion: v1
                data:
                  SECRET: "{{ configs.demo_app.env_secret | ansible.builtin.unvault(vault_key) | b64encode }}"
                kind: Secret
                metadata:
                  name: secret-demo
                  namespace: skozlov
                type: Opaque
          remediationAction: enforce
          severity: low
  remediationAction: enforce
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: pl-sk-secret-placement
  namespace: skozlov
spec:
  clusterConditions: []
  clusterSelector:
    matchExpressions:
      - key: name
        operator: In
        values:
          - local-cluster
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: pl-sk-secret-placement-binding
  namespace: skozlov
placementRef:
  name: pl-sk-secret-placement
  apiGroup: apps.open-cluster-management.io
  kind: PlacementRule
subjects:
  - name: pl-sk-secret
    apiGroup: policy.open-cluster-management.io
    kind: Policy
